{% extends 'index.html' %}
{% block content %}<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form method="get" action="/search" class="d-flex">
          <div class="input mx-auto my-5">
            <input type="text" name="query" class="w-149"  id="tags" placehoder="search">
            <button class="btn btn-dark" type="submit">Search</button>
          </div>
          </form>
      </div>
    </div>
  </nav>
  <div class="container my-xxl-5">
    <h1>veg mess</h1>
   {% for i in mess %}
  <div class="card" style="width: 18rem;">
    <img src="{{i.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{i.title}}</h5>
      <p class="card-text">{{i.desc}}</p>
      <a href="detail/{{i.mess_id}}" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
{% endfor %}
</div>
  <div class="container my-xxl-5">
    <h1>non veg mess</h1>
   {% for j in non_veg %}
  <div class="card" style="width: 18rem;">
    <img src="{{j.image.url}}" class="card-img-top" alt="..." >
    <div class="card-body">
      <h5 class="card-title">{{j.title}}</h5>
      <p class="card-text">{{j.desc}}</p>
      <a href="detail/{{j.mess_id}}" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
{% endfor %}
</div>
  {% endblock %}
  <script>
    $( function() {
      var availableTags = [
          {% for k in all_mess %}
              "{{i.title}}",
              "{{i.desc}}",
          {% endfor %}

      ];
      $( "#tags" ).autocomplete({
        source: availableTags
      });
    } );
    </script>